<!DOCTYPE html>
<html xmlns:th=”https://www.thymeleaf.org” xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>店舗情報編集</title>
	</head>
	<body>
		<div class="nagoyameshi-wrapper">
			<div th:replace="~{fragment :: header}"></div>
			<main>
				<nav class="breadcrumb-box" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	                <ol class="breadcrumb mb-0">                        
	                    <li class="breadcrumb-item"><a th:href="@{/admin/restaurants}">店舗一覧</a></li>
	                    <li class="breadcrumb-item"><a th:href="@{/admin/restaurants/__${restaurantEditForm.getId()}__}" th:text="${restaurantEditForm.getName()}"></a></li>
	                    <li class="breadcrumb-item active" aria-current="page">編集</li>
	                </ol>
	            </nav> 
				
				<h1>店舗情報編集</h1>
	            
				<div class="container nagoyameshi-container">
					<div class="row justify-content-center">
						<!-- RestaurantEditFormに情報を送信（post)-->
		            	<form method="post" th:action="@{/admin/restaurants/__${restaurantEditForm.getId()}__/update}" th:object="${restaurantEditForm}" enctype="multipart/form-data" class="col-md-8 col-10">
					
							<!-- id -->
							<input type="hidden" th:field="*{id}">
							<!-- 店名 -->
							<div class="form-group row mb-3">
								<!-- ラベル -->
								<div class="col-md-5">
									<label for="name" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">店名</span>
										</div>
									</label>
								</div>
								<!-- テキストボックス -->
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('name')}" class="text-danger small mb-2" th:errors="*{name}"></div>
									<input type="text" class="form-control" th:field="*{name}" autocomplete="name" autofocus placeholder="味噌煮込み 一刻">
								</div>
							</div>
								
							<!-- 画像 -->
							<div class="form-group row mb-3">
			                    	<div class="col-md-5">
			                        	<label for="imageFile" class="col-form-label text-md-left fw-bold">店舗画像</label>
			                        </div>                                    
			                        <div class="col-md-7">
			                        	<div th:if="${#fields.hasErrors('imageFile')}" class="text-danger small mb-2" th:errors="*{imageFile}"></div>  
			                                <input type="file" class="form-control" th:field="*{imageFile}">
			                        </div>
			                    </div>   
			                    <!-- もとの画像がある場合表示する -->
			                    <div th:if="${imageName}" class="row" id="imagePreview"><img th:src="@{/storage/__${imageName}__}" class="mb-3"></div>
			                    <!-- 選択された画像の表示場所 -->
			                    <div th:unless="${imageName}" class="row" id="imagePreview"></div>                                 
			                        
							<!-- 郵便番号 -->
							<div class="form-group row mb-3">
								<!-- ラベル -->
								<div class="col-md-5">
									<label for="postalCode" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">郵便番号</span>
										</div>
									</label>
								</div>
								<!-- テキストボックス -->
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('postalCode')}" class="text-danger small mb-2" th:errors="*{postalCode}"></div>
									<input type="text" class="form-control" th:field="*{postalCode}" autocomplete="postal-code" placeholder="123-4567">
								</div>
							</div>
							
							<!-- 住所 -->
							<div class="form-group row mb-3">
								<!-- ラベル -->
								<div class="col-md-5">
									<label for="address" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">住所</span>
										</div>
									</label>
								</div>
								<!-- テキストボックス -->
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('address')}" class="text-danger small mb-2" th:errors="*{address}"></div>
									<input type="text" class="form-control" th:field="*{address}" placeholder="東京都千代田区神田練塀町300番地">
								</div>
							</div>
							
							<!-- 電話番号 -->
							<div class="form-group row mb-3">
								<!-- ラベル -->
								<div class="col-md-5">
									<label for="phoneNumber" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">電話番号</span>
										</div>
									</label>
								</div>
								<!-- テキストボックス -->
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger small mb-2" th:errors="*{phoneNumber}"></div>
									<input type="text" class="form-control" th:field="*{phoneNumber}" autocomplete="tel-national" placeholder="090-1234-5678">
								</div>
							</div>
							<!-- 営業時間 -->
							<div class="row mb-3">
								<div class="col-md-5">
									<label for="" class="col-form-label text-md-left fw-bold">営業時間</label>
								</div>
								<!-- テキストボックス -->
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('openingTime')}" class="text-danger small mb-2" th:errors="*{openingTime}"></div> 
									<div th:if="${#fields.hasErrors('closingTime')}" class="text-danger small mb-2" th:errors="*{closingTime}"></div> 
									<div class="nagoyameshi-form-inline">
										<select class="form-control form-select nagoyameshi-select nagoyameshi-select-color" th:field="*{openingTime}">
											<option value="">開始時刻</option>
						                    <!-- 30分刻みの時間を追加 -->
						                    <option value="00:00">00:00</option>
						                    <option value="00:30">00:30</option>
						                    <option value="01:00">01:00</option>
						                    <option value="01:30">01:30</option>
						                    <option value="02:00">02:00</option>
						                    <option value="02:30">02:30</option>
						                    <option value="03:00">03:00</option>
						                    <option value="03:30">03:30</option>
						                    <option value="04:00">04:00</option>
						                    <option value="04:30">04:30</option>
						                    <option value="05:00">05:00</option>
						                    <option value="05:30">05:30</option>
						                    <option value="06:00">06:00</option>
						                    <option value="06:30">06:30</option>
						                    <option value="07:00">07:00</option>
						                    <option value="07:30">07:30</option>
						                    <option value="08:00">08:00</option>
						                    <option value="08:30">08:30</option>
						                    <option value="09:00">09:00</option>
						                    <option value="09:30">09:30</option>
						                    <option value="10:00">10:00</option>
						                    <option value="10:30">10:30</option>
						                    <option value="11:00">11:00</option>
						                    <option value="11:30">11:30</option>
						                    <option value="12:00">12:00</option>
						                    <option value="12:30">12:30</option>
						                    <option value="13:00">13:00</option>
						                    <option value="13:30">13:30</option>
						                    <option value="14:00">14:00</option>
						                    <option value="14:30">14:30</option>
						                    <option value="15:00">15:00</option>
						                    <option value="15:30">15:30</option>
						                    <option value="16:00">16:00</option>
						                    <option value="16:30">16:30</option>
						                    <option value="17:00">17:00</option>
						                    <option value="17:30">17:30</option>
						                    <option value="18:00">18:00</option>
						                    <option value="18:30">18:30</option>
						                    <option value="19:00">19:00</option>
						                    <option value="19:30">19:30</option>
						                    <option value="20:00">20:00</option>
						                    <option value="20:30">20:30</option>
						                    <option value="21:00">21:00</option>
						                    <option value="21:30">21:30</option>
						                    <option value="22:00">22:00</option>
						                    <option value="22:30">22:30</option>
						                    <option value="23:00">23:00</option>
						                    <option value="23:30">23:30</option>
						                </select>
										<span class="form-between">～</span>
										<select class="form-control form-select nagoyameshi-select nagoyameshi-select-color" th:field="*{closingTime}">
											<option value="">終了時刻</option>
						                    <!-- 30分刻みの時間を追加 -->
						                    <option value="00:00">00:00</option>
						                    <option value="00:30">00:30</option>
						                    <option value="01:00">01:00</option>
						                    <option value="01:30">01:30</option>
						                    <option value="02:00">02:00</option>
						                    <option value="02:30">02:30</option>
						                    <option value="03:00">03:00</option>
						                    <option value="03:30">03:30</option>
						                    <option value="04:00">04:00</option>
						                    <option value="04:30">04:30</option>
						                    <option value="05:00">05:00</option>
						                    <option value="05:30">05:30</option>
						                    <option value="06:00">06:00</option>
						                    <option value="06:30">06:30</option>
						                    <option value="07:00">07:00</option>
						                    <option value="07:30">07:30</option>
						                    <option value="08:00">08:00</option>
						                    <option value="08:30">08:30</option>
						                    <option value="09:00">09:00</option>
						                    <option value="09:30">09:30</option>
						                    <option value="10:00">10:00</option>
						                    <option value="10:30">10:30</option>
						                    <option value="11:00">11:00</option>
						                    <option value="11:30">11:30</option>
						                    <option value="12:00">12:00</option>
						                    <option value="12:30">12:30</option>
						                    <option value="13:00">13:00</option>
						                    <option value="13:30">13:30</option>
						                    <option value="14:00">14:00</option>
						                    <option value="14:30">14:30</option>
						                    <option value="15:00">15:00</option>
						                    <option value="15:30">15:30</option>
						                    <option value="16:00">16:00</option>
						                    <option value="16:30">16:30</option>
						                    <option value="17:00">17:00</option>
						                    <option value="17:30">17:30</option>
						                    <option value="18:00">18:00</option>
						                    <option value="18:30">18:30</option>
						                    <option value="19:00">19:00</option>
						                    <option value="19:30">19:30</option>
						                    <option value="20:00">20:00</option>
						                    <option value="20:30">20:30</option>
						                    <option value="21:00">21:00</option>
						                    <option value="21:30">21:30</option>
						                    <option value="22:00">22:00</option>
						                    <option value="22:30">22:30</option>
						                    <option value="23:00">23:00</option>
						                    <option value="23:30">23:30</option>
						                </select>
									</div>
								</div>
							</div>
							<!-- 予算 -->
							<div class="row mb-3">
								<!-- ラベル -->
								<div class="col-md-5">
									<label for="birthday" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">予算</span>
										</div>
									</label>
								</div>
								<!-- テキストボックス -->
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('minBudget')}" class="text-danger small mb-2" th:errors="*{minBudget}"></div>
									<div th:if="${#fields.hasErrors('maxBudget')}" class="text-danger small mb-2" th:errors="*{maxBudget}"></div>
									<div class="nagoyameshi-form-inline">
										<select class="form-control form-select nagoyameshi-select nagoyameshi-select-color flex-grow-1" th:field="*{minBudget}">
											<option value="">下限を選択</option>
											<option value="1000">&yen;1,000</option>
											<option value="2000">&yen;2,000</option>
											<option value="3000">&yen;3,000</option>
											<option value="4000">&yen;4,000</option>
											<option value="5000">&yen;5,000</option>
											<option value="6000">&yen;6,000</option>
											<option value="7000">&yen;7,000</option>
											<option value="8000">&yen;8,000</option>
											<option value="9000">&yen;9,000</option>
											<option value="10000">&yen;10,000</option>
											<option value="20000">&yen;20,000</option>
											<option value="50000">&yen;50,000</option>
											<option value="100000">&yen;100,000</option>
										</select>
										<span class="form-between">～</span>
										<select class="form-control form-select nagoyameshi-select nagoyameshi-select-color flex-grow-1" th:field="*{maxBudget}">
											<option value="">上限を選択</option>
											<option value="1000">&yen;1,000</option>
											<option value="2000">&yen;2,000</option>
											<option value="3000">&yen;3,000</option>
											<option value="4000">&yen;4,000</option>
											<option value="5000">&yen;5,000</option>
											<option value="6000">&yen;6,000</option>
											<option value="7000">&yen;7,000</option>
											<option value="8000">&yen;8,000</option>
											<option value="9000">&yen;9,000</option>
											<option value="10000">&yen;10,000</option>
											<option value="20000">&yen;20,000</option>
											<option value="50000">&yen;50,000</option>
											<option value="100000">&yen;100,000</option>
										</select>
									</div>
								</div>
							</div>
							
							<!-- 説明 -->
							<div class="form-group row mb-3">
								<!-- ラベル -->
			                        <div class="col-md-5">
			                            <label for="explanation" class="col-form-label text-md-left fw-bold">説明</label>
			                        </div>
			                        <!-- テキストエリア -->
			                        <div class="col-md-7">                            
			                            <div th:if="${#fields.hasErrors('explanation')}" class="text-danger small mb-2" th:errors="*{explanation}"></div>                                        
			                    	        <textarea class="form-control" th:field="*{explanation}" cols="30" rows="5" placeholder="こだわりの味噌で煮込んだ絶品の味噌煮込みを提供。アットホームな雰囲気でお待ちしております。"></textarea>
			                        </div>
			                    </div>
							
							<!-- 席数 -->
							<div class="form-group row mb-3">
								<!-- ラベル -->
								<div class="col-md-5">
									<label for="seatingCapacity" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">席数</span>
										</div>
									</label>
								</div>
								<!-- テキストボックス -->
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('seatingCapacity')}" class="text-danger small mb-2" th:errors="*{seatingCapacity}"></div>
									<input type="number" class="form-control" min="1" th:field="*{seatingCapacity}">
								</div>
							</div>
							<!-- カテゴリ -->
							<div class="form-group row mb-3">
								<!-- ラベル -->
								<div class="col-md-5">
									<label for="" class="col-form-label text-md-left fw-bold">カテゴリ</label>
								</div>
								<!-- セレクトボックス -->
								<div class="col-md-7">
									<div th:if="${#fields.hasErrors('category')}" class="text-danger small mb-2" th:errors="*{category}"></div> 
									<select th:field="*{category}" class="form-control form-select nagoyameshi-select nagoyameshi-select-color">  
			       						<option value="">カテゴリを選択してください</option>
			       						<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
									</select>
								</div>
							</div>
							
							<!-- キーワード -->
							<div class="form-group row mb-3">
								<!-- ラベル -->
								<div class="col-md-5">
									<label for="keyword" class="col-form-label text-md-left fw-bold">
										<div class="d-flex align-items-center">
											<span class="me-1">キーワード</span>
										</div>
									</label>
								</div>
								<!-- テキストエリア -->
			                        <div class="col-md-7">                            
			<!--                            <div th:if="${#fields.hasErrors('keyword')}" class="text-danger small mb-2" th:errors="*{keyword}"></div>                                        -->
			                    	    <textarea class="form-control" th:field="*{keyword}" cols="30" rows="5" placeholder="味噌煮込み, アットホーム, 個室"></textarea>
			                        </div>
							</div>
							
							<!-- ボタン -->
							<div class="form-group nagoyameshi-btn-box-form-post">
								<button type="submit" class="btn text-white shadow-sm w-50 nagoyameshi-btn">更新</button>
							</div>
						</form>
					</div>
				</div>
			</main>
			
			<div th:replace="~{fragment :: footer}"></div>	
		</div>
		
		<div th:replace="~{fragment :: scripts}"></div>
		<script th:src="@{/js/preview.js}"></script>
		<script th:src="@{/js/select-color.js}"></script>
	</body>
</html>