/* ===========================================
 * ===========================================
   共通ここから↓
=========================================== *
=========================================== */

:root {
	--base-color: #FDFBF5;
	--main-color: #E0C1A1;
	--point-color: #8A5B58;
	--pale-color: #F2E2CE;
}
html {
	font-size: 16px;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	background-color: var(--base-color);
}

main {
	padding-top: 66px; /* header都の重なり防止：　marginだとパンくずリスト等の表示に悪影響があったのでpaddingで指定　*/
	padding-bottom: 60px;
}

h1 {
	font-size: 1.5rem;
	text-align: center;
	margin: 32px 0;
}

.nagoyameshi-wrapper {
	min-height: 100vh;
	position: relative;
	box-sizing: border-box;
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
}

.nagoyameshi-alert-box {
	margin-top: 32px;
}
/*.alert {*/
/*	margin: 0 !important;*/
/*}*/

/*----- navbar↓ -----*/
.nagoyameshi-navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 60px;
	background-color: var(--main-color);
	z-index: 100;
}

.nagoyameshi-navbar-container {
	width: 1000px;
	max-width:100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.nagoyameshi-logo {
	height: 40px;
}

.nagoyameshi-btn-login {
	color: var(--point-color);
	background-color: var(--base-color);
	border-color: var(--point-color);
}

.nagoyameshi-btn-login:hover {
	color: var(--point-color);
	background-color: var(--base-color);
	font-weight: bold;
	border: solid 2px var(--point-color);
/*	border-width: b;*/
/*	border-color: var(--point-color);*/
}

.nagoyameshi-dropdown-item:active {
	background-color: #5196a6;
}
/*----- navbar↑ -----*/

footer {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;    
    background-color: var(--main-color);
    box-shadow: 0 0 0 100vmax var(--main-color); /*wrapperの左右の余白を超えて背景色を指定*/
	clip-path: inset(0 -100vmax);
}

/*----- flexbox↓ -----*/
.nagoyameshi-flex-center {
	display: flex;
	justify-content: center;
}

.nagoyameshi-flex-between {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 24px;
	width: 100%;
}

.nagoyameshi-flex-end {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-bottom: 16px;
}
/*----- flexbox↑ -----*/

/*----- 通常のリンク↓ -----*/
/**======= 両方いるか確認 =======**/
a {
    color: var(--point-color);
    text-decoration: none !important;
}

a:hover {
    color: rgb(128, 64, 64);
}

.nagoyameshi-page-link {
    color: var(--point-color);
}

.nagoyameshi-page-link:hover {
    color: rgb(128, 64, 64);
}
/*----- 通常のリンク↑ -----*/

/*----- ボタン↓ -----*/
.nagoyameshi-btn {
	color: white !important;
	background-color: var(--point-color);
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}
.nagoyameshi-btn:hover {
	background-color: #A76472;
}

/* フォーム送信用ボタン */
.nagoyameshi-btn-box-form-post {
	display: flex;
	justify-content: center;
	margin: 16px 0 32px;
}
/*----- ボタン↑ -----*/

/*.nagoyameshi-active {*/
/*    background-color: var(--point-color) !important;*/
/*    border-color: var(--point-color) !important;*/
/*}*/

/* ----- 検索ボックス↓ -----*/
/*.nagoyameshi-searchbox {*/
/*	margin-bottom: 24px;*/
/*}*/
.no-focus-outline .form-control:focus {
	outline: none !important; /*bootstrapのform-controlを特定のページのみ上書き*/
	box-shadow: none !important;
}
/*----- 検索ボックス↑ -----*/

/* ----- パンくずリスト↓ -----*/
.breadcrumb-box {
	margin: 24px 0 16px 0;
}
/*----- パンくずリスト↑ -----*/

/* ----- 削除関連↓ -----*/
.nagoyameshi-link-danger {
	color: #f2594b;
}

.nagoyameshi-link-danger:hover {
	color: #a63c3c;
}

.nagoyameshi-btn-danger {
	color: white;
	background-color: #f2594b !important;
	transition: 0.1s;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.nagoyameshi-btn-danger:hover {
    opacity: 0.8;   
 }
 
.nagoyameshi-modal-close {
	color: white;
}
/* ----- 削除関連↑ -----*/

/*----- pagination↓ -----*/
.pagination {
	margin: 0 !important; /* bootstrap上書き */
}

.nagoyameshi-pagination-box {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
}

.pagination-color {
	color: var(--point-color);
}

.pagination-color-active {
	background-color: var(--point-color) !important;
}
/*----- pagenation↑ -----*/

/*----- bootstrap上書き↓ -----*/
.container {
/*	margin: 0 !important;*/  /* marginを消してしまうと中央揃えが消えるのでやめた */
	padding: 0 !important;
}

/*----- bootstrap上書き↑ -----*/

/* -------------------------------------------
	フォーム関係ここから↓
------------------------------------------- */
.nagoyameshi-form-inline {
	display: inline-flex;
	align-items: center;
}

.form-between {
	margin: 0 8px;
}
/* -------------------------------------------
	フォーム関係ここまで↑
------------------------------------------- */


/* -------------------------------------------
	店舗カードここから↓
------------------------------------------- */
/*----- 通常のカード用（共通）↓ -----*/
.nagoyameshi-md-card-left-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/*----- レビューの★↓ -----*/
/* レビューの★全体のコンテナ */
.rate-wrap {
    display: flex;
    width: 100%;
    font-weight: bold;
}
/* ★表示の基準位置 */
.rate {
    position: relative;
    display: inline-block;
    width: 120px; /* 星5個の幅 */
    height: 24px; /* 星1個の幅 */
    font-size: 24px;
}
/* ★部分共通 */
.rate::before,
.rate::after {
    position: absolute;
    display: inline-block;
    height: 24px;
    content: '★★★★★';
    line-height: 24px;
}
/* 背景の★ */
.rate::before {
    color: #c4c4c4; /* 背景の星、色はグレー */
}
/* 評価に対応した★ */
.rate::after {
    overflow: hidden;
	width: calc(24px * var(--score)); /* 評価に応じてゴールド部分を動的に変更 */
    color: #ffb906; /* 評価の星、色はゴールド */
}
/*----- レビューの★↑ -----*/

.nagoyameshi-card-text {
	margin-bottom: 8px;
}
/* レビューの点数の位置調整 */
.review-score-num {
	padding: 2px 0 0 8px;
}

/*----- 通常のカード用（共通）↑ -----*/

/*----- 小さいカード用(トップページ）↓ -----*/
/*----- レビューの★↓ -----*/
/* ★表示の基準位置 */
.rate-top {
    position: relative;
    display: inline-block;
    width: 80px; /* 星5個の幅 */
    height: 16px; /* 星1個の幅 */
    font-size: 16px;
}
/* ★部分共通 */
.rate-top::before,
.rate-top::after {
    position: absolute;
    display: inline-block;
    height: 16px;
    content: '★★★★★';
    line-height: 16px;
}
/* 背景の★ */
.rate-top::before {
    color: #c4c4c4; /* 背景の星、色はグレー */
}
/* 評価に対応した★ */
.rate-top::after {
    overflow: hidden;
	width: calc(16px * var(--score)); /* 評価に応じてゴールド部分を動的に変更 */
    color: #ffb906; /* 評価の星、色はゴールド */
}
/*----- レビューの★↑ -----*/

/* レビューの点数の位置調整 */
.review-score-num-sm {
	padding-left: 8px;
}
/*----- 小さいカード用（トップページ）↑ -----*/
/* -------------------------------------------
	店舗カードここまで↑
------------------------------------------- */

/*----- レビューカード↓ -----*/
.nagoyameshi-review-card {
	display: flex;
	flex-direction: row;
	height: 194px;
	margin-bottom: 24px;
}

.nagoyameshi-review-card-column {
	display: flex;
	flex-direction: row;
	height: 194px;
	margin-bottom: 16px;
}

.nagoyameshi-review-title {
	font-weight: bold;
}

.nagoyameshi-review-text {
	font-size: 14px;
	margin-bottom: 8px;
}

.nagoyameshi-review-hr {
	margin: 8px 0 !important;
}

.truncate-multiline {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3; /* 表示する行数 */
	overflow: hidden;
	text-overflow: ellipsis;
}

.rate-review {
    position: relative;
    display: inline-block;
    width: 80px; /* 星5個の幅 */
    height: 16px; /* 星1個の幅 */
    font-size: 16px;
}
/* ★部分共通 */
.rate-review::before,
.rate-review::after {
    position: absolute;
    display: inline-block;
    height: 16px;
    content: '★★★★★';
    line-height: 16px;
}
/* 背景の★ */
.rate-review::before {
    color: #c4c4c4; /* 背景の星、色はグレー */
}
/* 評価に対応した★ */
.rate-review::after {
    overflow: hidden;
	width: calc(16px * var(--score)); /* 評価に応じてゴールド部分を動的に変更 */
    color: #ffb906; /* 評価の星、色はゴールド */
}

.nagoyameshi-review-bottom-box {
	display: flex;
	justify-content: space-between;
}

.nagoyameshi-review-card-right-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 0 5px 5px 0; /* cardの丸みに合わせる */
}

.card-img-position-adjustment-right {
	padding-right: 11px !important;
}
/*----- レビューカード↑ -----*/

/* ===========================================
 * ===========================================
   共通ここまで↑	
=========================================== *
=========================================== */


/* ===========================================
 * ===========================================
   トップページここから↓	
=========================================== *
=========================================== */
.nagoyameshi-carousel-area {
	padding-top: 66px;
}

.bgCarousel {
	height: 100vh;
	width: 100%;
}

.bgCarousel__item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.bgCarousel__item:nth-child(1) {
	background-image: url("../images/top01.jpg");
}

.bgCarousel__item:nth-child(2) {
	background-image: url("../images/top02.jpg");
}

.bgCarousel__item:nth-child(3) {
	background-image: url("../images/top03.jpg");
}

.nagoyameshi-top-left {
	display: flex;
	flex-direction: column;
	padding: 40px 0 72px 40px;
	margin: 80px 0 0 0;
	height: 100%;
	backdrop-filter: blur(10px);
	border-radius: 8px;
}

.nagoyameshi-top-image {
	width: 100%;
	max-width: 480px;
	margin-bottom: 80px;
}

.nagoyameshi-sub-copy {
	margin-left: 8px;
	margin-bottom: 0;
}

.nagoyameshi-top-right {
	display: flex;
	align-items: end;
	margin-left: 48px;
	margin-bottom: 72px;
}

.top-search-form {
    border:1px solid #d1d1d1;
	font-size: 12px;
    color:#bebebe;
    background-color: var(--base-color);
    width:150px;
    padding: 8px;
    border-radius:20px;
    text-shadow:0 2px 3px rgba(0,0,0,0.1);
    box-shadow:0 1px 3px rgba(0,0,0,0.15) inset;
    display: flex;
    flex-direction: row;
}

.top-search-input{
	border: none;
	width: 100%;
}
.top-search-input:focus {
	outline: 0;
}

.top-search-btn {
	border: none;
	background-color: var(--base-color);
}

.nagoyameshi-top-mainarea {
	padding-bottom: 60px;
}

/*----- h5↓ -----*/
.nagoyameshi-h5 {
	margin: 32px 0 16px;
}
.nagoyameshi-h5-right {
	margin: 0 0 56px;
}
/*----- h5↑ -----*/

.nagoyameshi-top-restaurant-box-created {
/*	width: 100%;*/
	margin-bottom: 32px;
}

/*----- small　カード↓ -----*/
.nagoyameshi-sm-card {
	background-color: var(--pale-color);
	height: 200px;
}

.nagoyameshi-sm-card p {
	font-size: 14px;
	padding: 8px 8px 0;
	margin: 0px;
}
.nagoyameshi-sm-card-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.card-img-top {
	height: 101px;  /* bootstrapに追記 */
}

/*@media (min-width: 992px) {*/
/*  .nagoyameshi-sm-card:nth-child(n+5) {*/
/*    display: none;*/
/*  }*/
/*}*/
/*----- small　カード↑ -----*/

.nagoyameshi-top-category-box {
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}
/* ===========================================
 * ===========================================
   トップページここまで↑	
=========================================== *
=========================================== */


/* ===========================================
 * ===========================================
   店舗一覧ここから↓	
=========================================== *
=========================================== */

.nagoyameshi-left-search-box {
	margin-bottom: 32px;
}

.nagoyameshi-left-search input,
.nagoyameshi-left-search select {
	font-size: 14px;
}

.nagoyameshi-search-form-btn-box {
	display: flex;
	justify-content: center;
	margin: 0 0 16px;
}

/* ===========================================
 * ===========================================
   店舗一覧ここまで↑	
=========================================== *
=========================================== */


/* ===========================================
 * ===========================================
   店舗詳細ここから↓	
=========================================== *
=========================================== */
.nagoyameshi-reservation-form {
	margin-bottom: 16px;
}
/* レビュー投稿ボタンとレビュー一覧ページへのリンクの表示位置を整える */
.blank-box {
	width: 80px;
}
/* ===========================================
 * ===========================================
   店舗詳細ここまで↑	
=========================================== *
=========================================== */


/* ===========================================
 * ===========================================
   プレミアム紹介ページここから↓	
=========================================== *
=========================================== */
.nagoyameshi-premium-flexbox {
	display: flex;
	align-items: center;
	margin: 16px 0;
}

.nagoyameshi-premium-h5 {
	margin-bottom: 16px;
}

.nagoyameshi-premium-img-box {
	width: 80px;
	height: 80px;
	margin-right: 24px;
}

.nagoyameshi-premium-img {
	width: 80px;
	height: 80px;
	object-fit: fill;
/*	max-width: 100%;*/
/*	height: auto;*/
/*	display: block;*/
}

.nagoyameshi-premium-text {
	white-space: pre-wrap;
	margin: 0;
}

.nagoyameshi-premium-btn-box {
	display: flex;
	justify-content: center;
	margin: 24px 0 32px;
}
/* ===========================================
 * ===========================================
   プレミアム紹介ページここまで↑	
=========================================== *
=========================================== */


/* ===========================================
 * ===========================================
   （管理者用）ユーザー・店舗一覧ページここから↓	
=========================================== *
=========================================== */
.table {
	margin-bottom: 24px !important; /*bootstrapの上書き*/
}

/* ===========================================
 * ===========================================
   （管理者用）ユーザー・店舗一覧ページここまで↑	
=========================================== *
=========================================== */


/* ===========================================
 * ===========================================
   （管理者用）売上管理ページここから↓	
=========================================== *
=========================================== */
.nagoyameshi-chart-box {
	height: 400px !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nagoyameshi-chart {
	
}

/* ===========================================
 * ===========================================
   （管理者用）売上管理ページここまで↑	
=========================================== *
=========================================== */