<!DOCTYPE html>
<html xmlns:th=”https://www.thymeleaf.org” xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>お気に入り一覧</title>
	</head>
	<body>
		<div class="nagoyameshi-wrapper">
			<div th:replace="~{fragment :: header}"></div>
			<main>
                <nav class="breadcrumb-box" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">                        
                        <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                        <li class="breadcrumb-item active" aria-current="page">お気に入り一覧</li>
                    </ol>
                </nav> 
				<h1>お気に入り一覧</h1>
				<div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-9 col-xl-10 col-lg-11">
                            <div class="nagoyameshi-flex-between mb-0">
<!--								<div>-->
	                                <p th:if="${favoritePage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + favoritePage.getTotalElements() + '件' + '（' + (favoritePage.getNumber() + 1) + ' / ' + favoritePage.getTotalPages() + ' ページ）'}"></p> 
	                                <p th:unless="${favoritePage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + favoritePage.getTotalElements() + '件'}"></p>                                 
<!--								</div>   -->
                            </div>   
                                                                        
                            <div class="mb-3" th:each="favorite : ${favoritePage}">
                                <a th:href="@{/restaurants/__${favorite.restaurant.getId()}__}" class="link-dark">
                                    <div class="card h-100">   
                                        <div class="row g-0">
                                            <div class="col-md-4">                                                                                
                                                <img th:if="${favorite.restaurant.getImageName()}" th:src="@{/storage/__${favorite.restaurant.getImageName()}__}" class="nagoyameshi-md-card-left-img" alt="店舗画像">                                                     
                                                <img th:unless="${favorite.restaurant.getImageName()}" th:src="@{/images/noImage.png}" class="nagoyameshi-md-card-left-img" alt="NO IMAGE">                                                    
                                            </div> 
                                            <div class="col-md-8">                                                                                                                        
                                                <div class="card-body">                                    
                                                    <h5 class="card-title mb-2" th:text="${favorite.restaurant.getName()}"></h5>
                                                    
                                                    <p class="card-text nagoyameshi-card-text">
                                                        <span th:text="${favorite.restaurant.category.getName()}"></span>
                                                    </p>                                              
  
                                                    <hr class="mb-3">
                                                    
                                                    <p class="card-text nagoyameshi-card-text">
                                                        <span th:text="${favorite.restaurant.getExplanation()}"></span>
                                                    </p>           
                                                                                             
                                                    <!-- reviewの点数 -->
                                                    <p class="card-text nagoyameshi-card-text">
														<span class="rate-wrap">
															<!-- インラインスタイルで直接評価点に基づいてスタイルを適用 -->
														    <span class="rate" th:style="'--score: ' + ${averageEvaluationMap[favorite.restaurant.id]}"></span>
    														<span class="review-score-num" th:text="${averageEvaluationMap[favorite.restaurant.id]}"></span>
														</span>
                                                    </p>   
                                                                                                                                                                                                                                   
                                                    <p class="card-text nagoyameshi-card-text">
                                                        <span th:text="${'予算：' + #numbers.formatInteger(favorite.restaurant.getMinBudget(), 1, 'COMMA') + '円 ~ ' + #numbers.formatInteger(favorite.restaurant.getMaxBudget(), 1, 'COMMA') + '円'}"></span>
                                                    </p>
                                                    
                                                    <p class="card-text">
                                                        <span th:text="${'営業時間：' + #temporals.format(favorite.restaurant.getOpeningTime(), 'HH:mm') + ' ~ ' + #temporals.format(favorite.restaurant.getClosingTime(), 'HH:mm')}"></span>
                                                    </p>   
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </a>            
                            </div>
						</div>
						<!-- ページネーション -->
						<div th:if="${favoritePage.getTotalPages() > 1}" class="nagoyameshi-pagination-box">
							<nav aria-label="レビュー一覧ページ">
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${favoritePage.isFirst()}" class="page-link disabled">前</span>
										<a th:unless="${favoritePage.isFirst()}" th:href="@{/favorites(page = ${favoritePage.getNumber() - 1})}" class="page-link pagination-color">前</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, favoritePage.getTotalPages() - 1)}" class="page-item">
										<span th:if="${i == favoritePage.getNumber()}" class="page-link active pagination-color-active" th:text="${i + 1}"></span>
										<a th:unless="${i == favoritePage.getNumber()}" th:href="@{/favorites(page = ${i})}" class="page-link pagination-color" th:text="${i + 1}"></a>
									</li>
									<li class="page-item">                        
           						    	<span th:if="${favoritePage.isLast()}" class="page-link disabled">次</span>
               							<a th:unless="${favoritePage.isLast()}" th:href="@{/favorites(page = ${favoritePage.getNumber() + 1})}" class="page-link pagination-color">次</a>
        						    </li>
								</ul>
							</nav>
                        </div>
                    </div>
				</div>
			</main>
			<div th:replace="~{fragment :: footer}"></div>	
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>