<!DOCTYPE html>
<html xmlns:th=”https://www.thymeleaf.org” xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment :: meta}"></div>
		
		<div th:replace="~{fragment :: styles}"></div>
		
		<title>ログイン</title>
	</head>
	<body>
		<div class="nagoyameshi-wrapper">
			<div th:replace="~{fragment :: header}"></div>
			<main>
				<!-- メールアドレスを入力するフォーム -->
				<form class="login-form" th:action="@{/password-request}" method="post" id="resetPasswordForm">
				    <div style="text-align:center; font-size:15px; color:green; font-weight:bold">
				      <span th:utext="${resetPasswordMsg}"></span>
				    </div>
				    <p>Enter your account email address to receive an email with password reset instructions</p>
				    <div class="alert alert-success" role="alert" id="resetPwdMsgDiv" style="display:none">
				      <p id="resetPwdMsgText"></p>
				    </div>
				    <div style="text-align:center; font-size:20px; color:green; font-weight:bold">
				      <span th:utext="${message}"></span>
				    </div>
				    <div class="login-wrap">
				      <p class="login-img"><i class="icon_lock_alt"></i></p>
				      <div class="input-group">
				        <span class="input-group-addon"><i class="icon_profile"></i></span>
				        <input type="text" class="form-control" placeholder="Email" name="email" autocomplete=”off” required autofocus>
				      </div>
				      <button id="resetPassword" class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
				    </div>
				</form>
			</main>
			<div th:replace="~{fragment :: footer}"></div>	
		</div>
		<div th:replace="~{fragment :: scripts}"></div>
	</body>
</html>